:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --black-background-text-color: #ffffff;
  --logo-text-color: #000000;
  --primary-background: rgba(0, 0, 0, 0, 25);
  --secondary-background: #ececec;
  --black-background: #2f303a;
  --blue-background: #2196f3;
  --icon-fill: #afb1b8;
}
